<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consultar Formularios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ul>
  <li *ngFor="let agenda of data; index as i;">
    <label>Formulario</label>
    <br>
      <ul>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
        <li>{{ agenda.pregunta}}:  {{ agenda.selected}}</li>
      </ul>
  </li>
</ul>

